
:root {
    --branco: #FFFFFF;
    --azul: #167BF7;
    --azul-escuro: #0a4a97;
    --cinza: #C0C0C0;
    --preto: #00030C;
    --fonte-principal: 'Inter';
    --verde: #00ff0d;
}

body {
    background-color: var(--preto);
    color: var(--branco);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
}

* {
    margin: 0;
    padding: 0;
}

.principal {
    background-image: url("img/Background.png");
    background-repeat: no-repeat;
    background-size: container;
    align-items: center;
    text-align: center;
}

.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
}

.container-caixa {
    margin: 0 6em;
}

.container-botao {
    background-color: var(--azul-escuro);
    border-radius: 5px;
    color: var(--branco);
    padding: 1em;
    display: block;
    text-decoration: none;
    margin-bottom: 1em;
    cursor: pointer;
}

/* mouse over link */
.container-caixa a:hover {
    color: var(--branco);
    font-weight: 300;
    background-color: var(--azul);
}

/* mouse over link */
.container-descricao a:hover {
    color: var(--branco);
    font-weight: 300;
    background-color: var(--azul);
}

.botao-secundario {
    background-color: transparent;
    border: 2px solid var(--branco);
    border-radius: 5px;
    padding: 1em;
}

.container-aviso {
    font-size: 12px;
    color: var(--cinza);
}

.container-titulo {
    font-size: 28px;
    font-weight: 700;
}

.container-imagem {
    margin: 2em 0 2em 1em;
}

.secundario-imagem {
    width: 80%;
}

.secundario {
    align-items: center;
    margin: 0 10em;
}

.descricao-titulo {
    font-weight: 700;
    font-size: 36px;
    color: var(--branco);
    margin-bottom: 0.1em;
}

.descricao-texto {
    font-weight: 300;
    font-size: 16px;
    color: var(--cinza);
}

.secundario-botao {
    display: inline-block;
    margin-top: 1em;
}

.container-descricao {
    padding: 2em;
}

.quinta-secao-lista {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 5em 0;
}

.quinta-secao {
    text-align: center;
}

.quinta-secao-titulo {
    font-size: 36px;   
    color: var(--branco);
}

.lista-item {
    font-size: 28;
    color: var(--branco);
}

.rodape {
    text-align: center;
}

.rodape-logo {
    margin: 3em;
}

.rodape-lista {
    display: flex;
    font-size: 16;
    color: var(--branco);
    justify-content: center;
    list-style-type: none;
}

.lista-link {
    color: var(--branco);
    padding: 0.5em;
    text-decoration: none;
}

/* mouse over link */
.rodape-lista a:hover {
    color: var(--preto);
    background-color: var(--branco);
}

/* selected link */
.rodape-lista a:active {
    color: blue;
  } 

.rodape-textos{
    padding: 1em 5em 5em 5em;
}

.rodape-texto {
    font-size: 14;
    color: var(--cinza);
    padding: 1em;
}

@media screen and (max-width: 768px) {
    .container {
        display: block;
        background-image: none;
    }

    .container-imagem {
        width: 50vw;
    }

    .container-caixa {
        margin: 2em 2em;
    }
}